.modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000aa;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.show-modal {
    visibility: visible;
}

.hide-modal {
    visibility: hidden;
}

.modal-form {
    width: 30%;
    max-width: 400px;
    height: auto;
    background-color: #ffffff;
    padding: 1rem 3rem 1rem 3rem;
    margin-bottom: 5rem;
}